[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "==1.57.0"
ruff = "==0.14.13"
pytest-playwright = "==0.7.2"
python-dotenv = "==1.2.1"

[dev-packages]

[requires]
python_version = "3.13"
